footer {
  position: fixed;
  bottom: 0;
  z-index: 1003;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top: 1px solid rgb(201, 201, 201);
}

.designed-by, .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.designed-by {
  text-align: center;
  font-family: monospace;
  justify-content: flex-end;
}

.social-media-button {
  all: unset;
}

@media screen and (max-width: 800px) {
  footer {
    position: absolute;
    bottom: 0;
    height: 80px;
  }
  .designed-by, .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
