.sidebar-container {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: white;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
}

.sidebar-container.hidden {
  width: 0;
}

.sidebar-routes-list {
  all: unset;
  opacity: 1;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-routes-list.hidden {
  all: unset;
  opacity: 0;
  visibility: hidden;
}

.sidebar-routes-list-item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  width: 260px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  opacity: 0.8;
}

.sidebar-routes-list-item:hover {
  opacity: 1;
}

.sidebar-routes-list-item:first-child {
  margin-top: 20px;
}

.sidebar-routes-list-item > a {
  all: unset;
  margin-left: 6px;
}

.sidebar-icon-container {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
