.sidebar-container {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  box-shadow: rgba(100, 100, 111, 0.2) 10px 50px 29px 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.sidebar-container.hidden {
  width: 0;
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.sidebar-container-background.hidden {
  width: 0;
}

.sidebar-container-background {
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  width: 50%;
  height: 100%;
  background: rgb(252, 252, 252);
}

.sidebar-routes-list {
  width: 100%;
  height: 100%;
  all: unset;
  opacity: 1;
  transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-routes-list.hidden {
  all: unset;
  opacity: 0;
  visibility: hidden;
}

.sidebar-routes-list-item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  width: 100%;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 50px;
  opacity: 0.8;
}

.sidebar-routes-list-item:hover {
  opacity: 1;
}

.sidebar-routes-list-item:first-child {
  margin-top: 20px;
}

.sidebar-routes-list-item > a {
  all: unset;
  margin-left: 6px;
}
