.sidebar-container {
  background-color: #20b2ab7a;
  width: 300px;
  height: 100vh;
}

.sidebar-routes-list {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-routes-list-item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 260px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  opacity: 0.8;
}

.sidebar-routes-list-item:hover {
  opacity: 1;
}

.sidebar-routes-list-item:first-child {
  margin-top: 20px;
}

.sidebar-routes-list-item > a {
  all: unset;
  margin-left: 12px;
}

.sidebar-icon-container {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
