.topbar {
  height: 48px;
  width: 100%;
  background-color: lightseagreen;
}

.topbar-menu-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  float: right;
  height: 100%;
}

.topbar-menu-item {
  font-weight: 700;
  cursor: pointer;
  opacity: 0.8;
  margin: 0 10px;
}

.topbar-menu-item:hover {
  opacity: 1;
}

.topbar-menu-item > a {
  all: unset;
}

.topbar-menu-item > i {
  margin-right: 7px;
}
