@import "main";

html {
  font-family: 'Poppins', 'Poppins-light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: map-get($palette , $key: text);
}

body {
  width: 100%;
  margin: 0;
}

#root {
  position: relative;
}
