body {
  margin: 0;
  font-family: 'Poppins', 'Poppins-light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  background-image: url('../src/assets/layered-waves-mono.svg');
  background-color: #fff;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
