.myself {
  width: 400px;
  border-radius: 100%;
  border: 20px solid white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 12px 0px;
}

.image-loading {
  width: 400px;
  min-height: 410px;
  background-color: #eee;
}

.name {
  font-weight: bolder;
}

.name > span {
  font-weight: 400;
  color: rgb(62, 62, 62)
}

.profession {
  color: #797979;
}

.btn-go-see-resume {
  transition: opacity 1s;
}

.btn-go-see-resume.visible {
  opacity: 1;
}

.btn-go-see-resume.hidden {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .myself {
    width: 350px
  }
}

@media screen and (max-width: 990px) {
  .name, .profession {
    text-align: center;
  }
  .myself {
    width: 250px;
    border-width: 10px;
  }

  .image-loading {
    width: 250px;
    height: 250px;
    background-color: green;
  }
}
